
.DS_Store
Starbucks_Capstone_notebook-zh.ipynb
.ipynb_checkpoints/Starbucks_Capstone_notebook-checkpoint.ipynb
.ipynb_checkpoints/Starbucks_Capstone_notebook-zh-checkpoint.ipynb
data/normalize_starbucks_data.csv
data/starbucks_data.csv
